# Secrets
.env
.streamlit/secrets.toml

# Data and Vector Store
chroma_db/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit config (needed for theme)
.streamlit/*
!.streamlit/config.toml

# Virtual Environments
venv/
env/
.venv/
